.appue_mod_calendar {
    position: relative;
    height: 36px;

    .calendar_null {
        text-align: center;
        cursor: pointer;
        @include border-radius($radius:100%);
        @include position($right:5px, $top:50%, $mt:-10px, $width:20px, $height:20px);
        @include icons($type:'\e603', $size:1.2rem, $color:#666);
        &:before {
            @include box($align:center, $pack:center);
            @include width-height(20px);
        }
        &:hover {
            background: $orange;
            &:before {
                color: #fff;
            }
        }
    }

    .calendar_input {
        border: 1px solid $gray_border;
        padding: 0;
        padding-left: 36px;
        height: 36px;
        background: #fff;
        @include box-sizing();
        @include position($left:0, $top:0, $width:100%);
        @include box($align:center);
        @include border-radius($radius:4px);
        @include icons($type:'\e616', $size:1.8rem, $width:36px, $height:36px, $line:36px, $align:center, $color:#777);
        &:before {
            @include position($left:0, $top:0);
        }
        input {
            outline: none;
            display: block;
            border: none !important;
            padding: 0 30px 0 0 !important;
            line-height: 34px;
            -webkit-box-shadow: none !important;
            @include border-radius($radius:4px);
            @include box-flex();
        }
        &.select {
            border: 1px solid $orange;
        }
    }

    .calendar {
        background: #fff;
        width: 320px;
        border-top: 2px solid $orange;
        -webkit-box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
        @include position($type:fixed, $left:50%, $top:50%, $ml:-160px, $mt:-215px, $index:12);
        @include ng-animate($type:ifshow);

        .calendar_date {
            padding: 10px;
            dt,
            dd {
                text-align: center;
                @include box();
                div {
                    width: 30px !important;
                    text-align: center;
                    @include box($align:center);
                }
            }

            dt {
                line-height: 40px;
                h3 {
                    font-size: 14px;
                    @include box-flex();
                }
                div {
                    @include icon($type:"\e917", $color:$black, $width:30px, $size:1.2rem);
                    &:last-child {
                        @include content($type:"\e916");
                    }
                }
            }
            dd {
                div {
                    @include icon($type:"\e901", $size:1.2rem, $width:30px);
                    &:nth-child(1):before {
                        -webkit-transform: rotate(90deg) scale(0.8);
                    }
                    &:last-child:before {
                        -webkit-transform: rotate(-90deg) scale(0.8);
                    }
                }
                section {
                    @include box-flex();
                    ul {
                        width: 100%;
                        &:nth-child(1) {
                            color: $gray_light;
                        }
                        li {
                            @include box();
                            p {
                                line-height: 27px;
                                @include box-flex();
                                &.today {
                                    background: $yellow;
                                }
                                &.disable {
                                    color: #ccc;
                                }
                                &.select {
                                    color: #fff;
                                    background: $orange;
                                }
                            }
                        }
                    }
                }
            }
        }

        .calendar_time {
            color: #aaa;
            padding: 10px 20px;
            dt {
                line-height: 20px;
            }
            dd {
                height: 25px;
                line-height: 25px;
                @include box($align:center);
                label {
                    display: block;
                    width: 35px;
                    color: #aaa;
                }
                input {
                    display: block;
                    margin-top: 5px;
                    @include box-flex();
                }
            }
        }

        .calendar_result {
            padding: 5px 10px;
            line-height: 30px;
            color: #fff;
            background: $orange;
            label {
                color: $black;
                width: auto;
            }
        }

        .calendar_btn { 
            padding: 10px;
            background: #eee;
            @include box($align:center, $pack:end);
            button {
                padding: 0 10px;
            }
            p {
                @include box-flex();
            }
        }
    }

    .calendar_mask {
        background: $color_mask;
        @include position($type:fixed, $left:0, $top:0, $width:100%, $height:100%, $index:11);
        @include ng-animate($type:ifop);
    }
}