// 登录界面
.appue_mod_login {
	background: url("//img-ossimg.ajmide.com/upload/201607/15/13541-161665-5788798484b95_2953x1969.jpg@1pr|40-25bl") no-repeat center center;
	background-size: 100% 100%;
	@include position($left:0, $top:0, $width:100%, $height:100%);
	@include box($align:center, $pack:center, $orient:vertical);
	ul {
		width: 400px;
		background: rgba(255,255,255,0.1);
		padding: 10px 20px;
		-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
		@include border-radius($radius:5px);
		li {
			display: block;
			margin-bottom: 15px;
			position: relative;
			@include box($align:center);
			input {
				font-size: 1.4rem;
			}
			.directive_input {
				position: relative;
				@include box-flex();
				@include box();

				input[type='text'],
				input[type='password'] {
					// @extend .input;
					@include input();
					display: block;
					padding: 10px 30px 10px 40px;
					height: 46px;
					line-height: 46px;
					border: 1px solid rgba(0,0,0,0);
					// color: #fff;
					// border: none;
					background: rgba(255,255,255,0.2);
					// background: rgba(0,0,0,0.1);
					// -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2);
					@include box-flex();
				}
				div {
			        text-align: center;
			        cursor: pointer;
			        @include border-radius($radius:100%);
			        @include width-height(25px);
			        @include position($right:5px, $top:50%, $mt:-12px, $index:1);
			        // @include icon($type:'\e906', $size:1.2rem, $color:rgba(255,255,255,0.8));
			        @include icons($type:'\e603', $size:1.6rem, $color:#000);
			        &:before {
			        	line-height: 27px;
			            @include width-height(25px);
			            @include box($align:center, $pack:center);
			            @include border-radius($radius:100%);
			        }
			        &:hover {
			            &:before {
			            	background: $orange;
			                color: #fff;
			            }
			        }
				}
			}

			.derrortext {
				display: none;
			}
			&.derror {
				position: relative;
				input {
					border: 1px solid $red !important;
					// border: 1px solid $orange_hover !important;
				}
				.derrortext {
					display: block;
					background: $red;
					// background: $orange_hover;
					color: #fff;
					width: 120px;
					text-align: center;
					line-height: 30px;
					@include border-radius($radius:4px);
					@include position($right:-110px, $top:50%, $mt:-15px);
					&:after {
						content: '';
						border-style: solid;
						border-color: transparent $red transparent transparent;
						// border-color: transparent $orange_hover transparent transparent;
						border-width: 5px;
						@include width-height-line(0);
						@include position($left:-10px, $top:50%, $mt:-5px);
					}
				}
			}

			&:nth-child(1) {
				height: 40px;
				line-height: 40px;
				text-indent: 50px;
				background: url(#{$path-images}logo.png) no-repeat 0 center;
				background-size: auto 40px;
				color: $orange_hover;
				font-size: 1.4rem;
			}
			&:nth-child(3) {
				button {
					width: 60px;
					margin-left: 10px;
				}
			}
			&:last-child {
				button {
					display: block;
					padding: 5px 10px;
					font-size: 1.4rem;
					background: $orange_hover;
					@include box-flex();
					&:hover {
						background: $orange;
					}
				}
			}
			img {
				display: block;
			}

			&.iusername,
			&.ipassword,
			&.icode {
				&:before {
					display: block;
					color: #000;
					font-size: 2rem;
					@include iconfont();
					@include width-height-line(20px);
					@include position($left:10px, $top:50%, $mt:-10px, $index:2);
				}
			}
			&.iusername:before {
				content: '\e610';
			}
			&.ipassword:before {
				content: '\e620';
			}
			&.icode {
				&:before {
					content: '\e61f';
				}
				img {
					// width: 180px;
					height: 46px;
					margin: 0 10px;
					opacity: 0.8;
					-webkit-filter: grayscale(1);
					@include border-radius($radius:4px);
					@include box-sizing();
				}
			}

			// &.t_code {
			// 	@include box($pack:justify, $align:stretch);
			// 	img {
			// 		width: 300px;
			// 		height: 75px;
			// 	}
			// 	button {
			// 		display: block;
			// 		height: auto;
			// 		width: 80px;
			// 		color: #fff;
			// 		font-size: 0;
			// 		@include icon($type:'\e920', $size:2.5rem);
			// 		&:hover {
			// 			color: $orange;
			// 		}
			// 	}
			// }
			&.t_check {
				padding-top: 10px;
				color: rgba(255,255,255,0.7);
				input {
					vertical-align: middle;
					margin-right: 10px;
					// background: rgba(255,255,255,0.8);
					background: rgba(255,255,255,0.5);
					-webkit-appearance: button;
					@include border-radius($radius:100%);
					@include width-height-line(18px);
					&:hover {
						background: #fff;
					}
					&:checked {
				        border: 1px solid #fff;
				        position: relative;
				        background: #fff;
				        @include icon($type:'\e91c', $size:1.4rem, $line:18px, $color:$orange);
				        &:before {
				            -webkit-transform:scale(0.7);
				            @include width-height-line(18px);
				            @include position($left:0, $top:0);
				        }
					}
				}
			}

		}
	}
}