.appue_mod_path {
	line-height: 75px;
	color: $gray;
	@include box($pack:justify);

	li {
		&:nth-child(1) {
			i {
				color: $orange;
			}
		}
		&:nth-child(2) {
			@include box($align:center);
			// button {
			// 	line-height: 30px;
			// 	padding: 0 10px;
			// 	margin-left: 10px;
			// 	border-width: 1px;
			// 	border-style: solid;
			// 	background: #fff;
			// 	border-color: #fff;
			// 	// letter-spacing: 1px;
			// 	@include bottom-shadow();
			// 	@include border-radius($radius:4px);
			// 	&:hover,
			// 	&.select {
			// 		color: $orange;
			// 		border-color: $orange;
			// 	}
			// }
			// .icon_add {
			// 	background: $orange;
			// 	color: #fff;
			// 	border-color: $orange;
			// 	&:hover,
			// 	&.select {
			// 		color: #fff;
			// 		border-color: $orange_hover;
			// 		background: $orange_hover;
			// 	}
			// }
			// .icon_tips {
			// 	color: #fff;
			// 	background: $green;
			// 	border-color: $green;
			// 	&:hover,
			// 	&.select {
			// 		color: #fff;
			// 		border-color: $green_hover;
			// 		background: $green_hover;
			// 	}
			// 	.i_tips {
			// 		@include position($right:20px, $top:130px);
			// 		// @extend .pop;
			// 		@include pop();
			// 		z-index: 99;
			// 		div {
			// 			padding: 10px;
			// 			line-height: 20px;
			// 			color: $black;
			// 			text-align: left;
			// 			cursor: none;
			// 		}
			// 	}
			// }
		}
	}
}

.mod_confirm {
	background: $color_mask;
	background: rgba(0,0,0,0.2);
	@include position($type:fixed, $left:0, $top:0, $width:100%, $height:100%, $index:30);
	@include box($align:center, $pack:center);
	@include ng-animate($type:show, $time:.5s);
	&>div {
		background: #fff;
		width: 500px;
		border-top: 2px solid $green;
		-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
		// @include border-radius($radius:4px);
		h2 {
			line-height: 20px;
			padding: 10px;
			font-size: 1.4rem;
			border-bottom: 1px solid $gray_border;
			// background: $bg_gray_light;
		}

		article {
			padding: 10px;
			line-height: 20px;
			min-height: 40px;
			@include box($align:center);
			em {
				color: $orange;
			}
		}

		div {
			padding: 0 10px 10px;
			@include box($pack:end);
			button {
				display: block;
				margin-left: 10px;
				&:nth-child(1) {
					color: $black;
				}
			}
		}
	}
}

.mod_alert {
	background: $color_mask;
	background: rgba(0,0,0,0.2);
	@include position($type:fixed, $left:0, $top:0, $width:100%, $height:100%, $index:11);
	@include box($align:center, $pack:center);
	@include ng-animate($type:show, $time:.5s);
	&>div {
		background: #fff;
		width: 500px;
		border-top: 2px solid $green;
		-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
		// @include border-radius($radius:4px);
		h2 {
			line-height: 20px;
			padding: 10px;
			font-size: 1.4rem;
			border-bottom: 1px solid $gray_border;
			// background: $bg_gray_light;
		}

		article {
			padding: 10px;
			line-height: 20px;
			min-height: 40px;
			@include box($align:center);
			em {
				color: $orange;
			}
		}

		div {
			padding: 0 10px 10px;
			@include box($pack:center);
			button {
				display: block;
				color: #fff;
			}
		}
	}
}

.appue_mod_section {
	background: #fff;
	padding: 0 20px 20px;
}

.mod_null {
	width: 100%;
	padding: 10px 0;
	line-height: 30px;
	text-align: center;
	// border: 1px solid $gray_border;
	border-top: 0;
	@include box-sizing();
}

.mod_loading {
	@include box($align:center, $pack:center);
	@include position($type:fixed, $left:0, $top:0, $width:100%, $height:100%, $index:999);
	&:before {
		content: '数据加载中,请稍后...';
		background: rgba(0,0,0,0.8);
		width: 150px;
		line-height: 40px;
		display: block;
		text-align: center;
		color: #fff;
		@include border-radius($radius:3px);
	}
}

.mod_loading_animate {
	@include box($align:center, $pack:center, $orient:vertical);
	@include position($type:fixed, $left:0, $top:0, $width:100%, $height:100%, $index:999);
	&:after {
		content: '数据加载中,请稍后...';
		line-height: 21px;
		display: block;
		color: #000;
		margin-top: 10px;
	}
}

.mod_preview_img {
	background: $color_mask;
	@include box($align:center, $pack:center);
	@include position($type:fixed, $left:0, $top:0, $width:100%, $height:100%, $index:12);
	@include ng-animate($type:ifop);
	button {
		background: rgba(0,0,0,0.6);
		color: #fff;
		margin: 0 20px;
		@include border-radius($radius:100%);
		@include width-height-line(60px);
		&:active {
			background: rgba(0,0,0,0.8);
			&:before {
				color: $orange;
			}
		}
		&:nth-child(1) {
			// @include ionic($type:'\f3d5', $size:3rem);
		}
		&:nth-child(3) {
			// @include ionic($type:'\f3d6', $size:3rem);
		}
	}
	div {
		text-align: center;
		position: relative;
		// @include box-flex();
		img {
			margin: 0 auto;
			max-width: 100%;
			max-height: 100%;
		}
		p {
			background: $color_mask;
			color: #fff;
			@include width-height-line(40px);
			@include position($top:0, $right:0);
			@include icon($type:'\e906');
		}
		span {
			display: block;
			text-align: center;
			color: #fff;
			line-height: 40px;
			background: $color_mask;
			@include position($left:0, $bottom:0, $width:100%);
		}
	}
}

.ueditor_audio {
	@include box-sizing();
	@include box($align:center, $pack:center);
	li {
		display: block;
		&:nth-child(1) {
			padding: 5px;
			position: relative;
			img {
				display: block;
				@include width-height(40px);
				@include border-radius($radius:100%);
			}
			@include icons($elem:after, $type:'\e61c', $size:1.6rem, $color:rgba(255,255,255,0.7));
			&:after {
				text-align: center;
				@include width-height-line(40px);
				@include position($left:50%, $top:50%, $mt:-20px, $ml:-20px);
			}
		}
		&:nth-child(2) {
			@include box-flex();
		}
		&:nth-child(3) {
			padding: 5px;
			color: #999;
		}
	}
}

.box_btn {
	@include box();
}