.appue_mod_menu_jm {
    overflow: hidden;
    background: url(#{$path-images}bg_left.jpg) repeat-y 0 0;
    padding-bottom: $height_header;
    @include box-sizing();
    @include overflow-scroll();
    @include position($type:fixed, $left:0, $top:$height_header, $width:$menu_width, $height:100%, $index:2);
    &::-webkit-scrollbar {
        width: 0px;
    }
    div {
        h3 {
        	color: #888;
        	font-size: 1.6rem;
        	padding-left: 20px;
        	line-height: 36px;
            margin: 12px 0;
        	font-weight: normal;
            cursor: pointer;
            &:after {
                float: right;
                margin-right: 20px;
            }
            &:hover {
                color: #eaeaea;
            }
        }
        ul {
            // background: #353440;
        	width: 100%;
        	// display: none;
            height: auto;
            overflow: hidden;
            margin-bottom: 10px;
        	li {
        		line-height: 36px;
        		color: #eaeaea;
        		font-weight: normal;
        		font-size: 1.4rem;
        		padding-left: 25px;
                cursor: pointer;
                position: relative;
                @include box($align:center, $pack:justify);
                &.cur {
                    color: $orange;
                    &:after {
                        content: '';
                        width: 0;
                        height: 0;
                        display: block;
                        // margin-right: 20px;
                        border-width: 6px;
                        border-style: solid;
                        border-color: transparent #f0f0f0 transparent transparent;
                        // border-color: transparent $orange transparent transparent;
                    }
                }
                &:hover {
                    color: $orange_hover;
                }

                dl {
                    padding: 10px;
                    background: #fff;
                    color: $black;
                    &:after {
                        content: '';
                        width: 0;
                        height: 0;
                        display: block;
                        // margin-right: 20px;
                        border-width: 6px;
                        border-style: solid;
                        border-color: transparent #f0f0f0 transparent transparent;
                        @include position($left:-12px, $top:10px);
                    }
                    @include position($left:$menu_width, $top:0, $index:9);
                    dd {
                        line-height: 30px;
                        font-size: 1.2rem;
                        white-space: nowrap;
                    }
                }
        	}
        }
        &.current {
            h3 {
                position: relative;
                background: rgba(255,255,255,0.1);
                &:before {
                    content: '';
                    width: 4px;
                    height: 100%;
                    background: #f60;
                    @include position($left:0, $top:0);
                }
            }
            ul {
                // display: block;
                // @include ng-animate($type:if);
            }
        }
    }
}


.appue_mod_menu_mg {
    overflow: hidden;
    // background: url(#{$path-images}bg_left.jpg) repeat-y 0 0;
    background: #221f32;
    padding-bottom: $height_header;
    @include box-sizing();
    @include overflow-scroll();
    @include position($type:fixed, $left:0, $top:$height_header, $width:$menu_width, $height:100%, $index:2);
    &::-webkit-scrollbar {
        width: 0px;
    }
    div {
        h3 {
            color: #a09fa5;
            font-size: 1.6rem;
            padding-left: 20px;
            line-height: 36px;
            margin: 12px 0;
            font-weight: normal;
            cursor: pointer;
            &:after {
                float: right;
                margin-right: 20px;
            }
            &:hover {
                color: #eaeaea;
            }
        }
        ul {
            // background: #353440;
            width: 100%;
            // display: none;
            height: auto;
            overflow: hidden;
            margin-bottom: 10px;
            li {
                line-height: 36px;
                color: #eaeaea;
                font-weight: normal;
                font-size: 1.4rem;
                padding-left: 25px;
                cursor: pointer;
                position: relative;
                @include box($align:center, $pack:justify);
                &.cur {
                    color: $orange;
                    &:after {
                        content: '';
                        width: 0;
                        height: 0;
                        display: block;
                        // margin-right: 20px;
                        border-width: 6px;
                        border-style: solid;
                        border-color: transparent #f0f0f0 transparent transparent;
                        // border-color: transparent $orange transparent transparent;
                    }
                }
                &:hover {
                    color: $orange_hover;
                }

                dl {
                    padding: 10px;
                    background: #fff;
                    color: $black;
                    &:after {
                        content: '';
                        width: 0;
                        height: 0;
                        display: block;
                        // margin-right: 20px;
                        border-width: 6px;
                        border-style: solid;
                        border-color: transparent #f0f0f0 transparent transparent;
                        @include position($left:-12px, $top:10px);
                    }
                    @include position($left:$menu_width, $top:0, $index:9);
                    dd {
                        line-height: 30px;
                        font-size: 1.2rem;
                        white-space: nowrap;
                    }
                }
            }
        }
        &.current {
            h3 {
                position: relative;
                background: rgba(255,255,255,0.1);
                &:before {
                    content: '';
                    width: 4px;
                    height: 100%;
                    background: #f60;
                    @include position($left:0, $top:0);
                }
            }
            ul {
                // display: block;
                // @include ng-animate($type:if);
            }
        }
    }
}
.ipad {
    .appue_mod_menu_jm,
    .appue_mod_menu_mg {
        display: none;
    }
}