.audio_player {
	width: 100px;
	height: 30px;
	opacity: 0;
	visibility: hidden;
	// @include position($type:fixed, $left:50%, $top:640px, $ml:-200px, $width:400px, $height:60px, $index:9999);
}
.appue_mod_player {
	// background: #000;
	// pointer-events: none;
	// background: rgba(34,31,50,0.9);
	background: rgba(0,0,0,0.9);
	padding: 0 10px;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all ease-in-out 0.7s;
	height: $appue_play_height;
	@include box($align:center);
	@include box-sizing();
	@include position($type:fixed, $right:-480px, $bottom:10px, $width:480px, $index:999999);
	
	&.show {
		-webkit-transform: translate3d(-480px, 0, 0);
	}
	
	.aimg {
		margin-right: 10px;
		position: relative;
		background: #fff;
		@include width-height(50px);
		img {
			display: block;
			background: #fff;
			@include width-height(50px);
			@include position($left:0, $top:0, $index:3);
		}
		@include icons($elem:after, $type:'\e61c', $size:1.8rem, $color:#fff);
		&:before {
			background: #fff;
			content: '';
			display: block;
			@include position($left:0, $top:0, $width:100%, $height:100%, $index:2);
		}
		&:after {
			text-indent: 4px;
			background: rgba(0,0,0,0.6);
			@include width-height(36px);
			@include position($left:50%, $top:50%, $ml:-18px, $mt:-18px, $index:4);
			@include box($align:center, $pack:center);
			@include border-radius($radius:100%);
		}
		.line-scale-party {
			display: none;
		}
		&.pause {
			&:after {
				display: none;
			}

			.line-scale-party {
				display: -webkit-box;
				background: rgba(255,132,0,0.8);
				@include width-height(36px);
				@include border-radius($radius:100%);
				@include position($left:50%, $top:50%, $mt:-18px, $ml:-18px, $index:4);
			}
		}
	}

	.abody {
		width: 400px;
		color: #fff;
		article {
			margin-bottom: 5px;
			line-height: 20px;
		}

		.ibar {
			width: 100%;
			@include box($align:center);
			li {
				&:nth-child(1) {
					width: 50px;
					margin-right: 20px;
				}
				&:nth-child(3) {
					width: 50px;
					margin-left: 20px;
				}
				&:nth-child(2) {
					background: rgba(255,255,255,0.4);
					height: 3px;
					position: relative;
					@include box-flex();
					div {
						width: 0;
						background: $orange_hover;
						@include position($left:0, $top:0, $height:3px, $index:1);
						button {
							// background: $orange_hover;
							@include width-height(20px);
							@include border-radius($radius:100%);
							@include position($right:-10px, $top:50%, $mt:-10px, $index:2);
							&:after {
								background: $orange_hover;
								content: '';
								display: block;
								@include width-height(10px);
								@include border-radius($radius:100%);
								@include position($left:50%, $top:50%, $ml:-5px, $mt:-5px, $index:1);
							}
						}
					}
					p {
						@include position($left:0, $top:50%, $mt:-15px, $width:100%, $height:30px, $index:3);
					}
				}
			}
		}
	}

	.abtn {
		cursor: pointer;
		height: 100%;
		width: 20px;
		background: $orange_hover;
		background: #000;
		color: #fff; 
		border-right: 1px solid rgba(255,255,255,0.1);
		@include box($align:center, $pack:center);
		@include iconfont();
		@include position($left:-20px, $top:0, $index:2);
	}

	// .ball-scale-ripple-multiple {
	// 	pointer-events: none;
	// 	color: $orange_hover;
	// 	@include position($left:-50px, $top:50%, $mt:-11px, $index:1);
	// 	&>div {
	// 		@include width-height(68px);
	// 	}
	// }

	.ball-scale-multiple {
		pointer-events: none;
		color: $orange_hover;
		color: rgba(0,0,0,0.4);
		@include position($left:-60px, $top:50%, $mt:-20px, $index:1);
		&>div {
			@include width-height(100px);
		}
	}
}