.appue_mod_page {
	@include box($align:center);
	@include box-sizing();
	p {
		-webkit-box-flex: 1;
		@include box($align:center);
		input {
			// @extend .input;
			@include input();
			width: 40px;
			padding: 0 5px;
			height: 30px;
			text-align: center;
			margin: 0 5px;
			-webkit-appearance: none;
		}
	}
	ul {
		@include box($align:center);
		li {
			border-left: 1px solid $gray_border;
			border-top: 1px solid $gray_border;
			border-bottom: 1px solid $gray_border;
			text-align: center;
			color: $gray;
			cursor: pointer;
			@include width-height-line(34px);

			&.i_first,
			&.i_prev,
			&.i_next,
			&.i_last {
				@include icon($size:1.2rem);
				&:hover {
					color: $orange;
				}
				&:before {
					-webkit-transform: scale(0.7);
				}
			}
			&.i_first {
				@include content($type:'\e917');
			}
			&.i_prev {
				@include content($type:'\e902');
			}
			&.i_next {
				@include content($type:'\e915');
			}
			&.i_last {
				border-right: 1px solid $gray_border;
				@include content($type:'\e916');
			}
			&.disable {
				&:hover {
					color: $gray;
					text-decoration: none;
				}
			}

			&:hover {
				cursor: pointer;
				color: $orange;
				text-decoration: underline;
			}
			&.select {
				cursor: pointer;
				color: #fff;
				background: $orange;
				border-top: 1px solid $orange;
				border-bottom: 1px solid $orange;
			}
		}
	}
}