.appue_mod_upload_audio {
	background: $color_mask;
	-webkit-user-select: none;
	@include position($type:fixed, $left:0, $top:0, $index:12, $width:100%, $height:100%);
	@include ng-animate($type:ifop);
	@include box($align:center, $pack:center);
	& > div {
		// background: $bg_gray_light;
		background: #fff;
		width: 100%;
		height: 100%;
		border-top: 2px solid $orange;
		// @include border-radius($radius:4px);
		@include box($orient:vertical);
	}

	h3 {
		line-height: 40px;
		padding: 0 10px;
		background: #fff;
		color: $gray;
		font-size: 1.4rem;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom: 1px solid $gray-border;
		@include box($align:center, $pack:justify);
		button {
			width: 50px;
			height: 40px;
			overflow: hidden;
			font-size: 0;
			text-align: right;
			@include icon($type:'\e906', $color:$gray);
			&:hover,
			&:active {
				&:before {
					color: $orange;
				}
			}
		}
	}

	.up_container {
		background: #fff;
		// border-bottom: 1px solid $gray-border;
		-webkit-box-flex: 1;
		@include box();
		.up_menu {
			background: $bg_gray_light;
			width: 100px;
			// border-right: 1px solid $gray-border;
			@include box-sizing();
			ul {
				padding: 10px 0;
				li {
					line-height: 40px;
					margin-bottom: 10px;
					padding-left: 15px;
					cursor: pointer;
					position: relative;
					&:hover {
						color: $orange;
					}
					&.cur {
						background: $orange;
						color: #fff;
						margin-left: -10px;
						&:before {
							content: '';
						    width: 0;
						    height: 0;
						    display: block;
						    border-width: 10px;
						    border-style: solid;
						    border-color: transparent $orange_hover transparent transparent;
							@include position($left:-10px, $bottom:-10px, $index:-1);
						}
						// &:after {
						// 	content: '';
						//     width: 0;
						//     height: 0;
						//     display: block;
						//     border-width: 8px;
						//     border-style: solid;
						//     border-color: transparent #fff transparent transparent;
						//     @include position($right:-1px, $top:50%, $mt:-8px, $index:1);
						// }
					}
				}
			}
		}
		.up_content {
			position: relative;
			@include box-sizing();
			@include box-flex();
			@include box($orient:vertical);
			h4 {
				border-bottom: 1px solid $gray-border;
				padding: 10px;
				@include box($align:center, $pack:justify);
			}
			.up_files {
				padding: 10px;
				background: $bg_gray_light;
				@include box($align:center);
				&>div {
					text-align: center;
					background: url(#{$path-images}img.jpg) no-repeat center -10px #d2d5dc;
					background-size: 100% auto;
					margin-right: 10px;
					@include width-height(70px);
					@include box($align:center, $pack:center);
					img {
						display: block;
						@include width-height(70px);
					}
					p {
						padding-top: 40px;
						color: #fff;
					}
				}
				dl {
					margin-right: 10px;
					@include box-flex();
					dt {
						height: 30px;
						margin-bottom: 10px;
						@include box($align:center);
						div {
							&:nth-child(1) {
								background: $green;
								line-height: 30px;
								color: #fff;
								padding: 0 10px;
								text-align: center;
								margin-right: 10px;
								@include border-radius($radius:3px);
							}
							&:nth-child(2) {
								height: 30px;
								position: relative;
								@include box-flex();
								p {
									&:nth-child(1) {
										line-height: 30px;
										@include ellipsis();
									}
									&:nth-child(2) {
										line-height: 0;
										font-size: 0;
										background: $green;
										@include position($left:0, $bottom:0, $height:1px, $index:1);
									}
								}
							}
						}
						input {
							@include input();
							height: 30px;
							display: block;
							border: none;
							background: none;
						}
					}
					dd {
						input {
							height: 30px;
							line-height: 30px;
							width: 100%;
							display: block;
							padding: 0 10px;
							@include box-sizing();
							@include border($color:$gray_border);
							@include border-radius($radius:0);
						}
					}
				}
				button {
					display: block;
					text-align: center;
					background: $orange;
					color: #fff;
					@include box($align:center, $pack:center);
					@include width-height(70px);
					&:before {
						display: block;
						text-indent: 5px;
						font-size: 3.0rem;
						// margin-bottom: 0px;
					}
					&:hover {
						background: $orange_hover;
					}
				}
			}
			.up_title {
				line-height: 30px;
				padding: 0 10px;
				background: $bg_gray_light;
			}
			.up_audio {
				position: relative;
				-webkit-box-flex: 1;
				.up_list {
					padding: 10px 0 40px 10px;
					font-size: 0;
					@include overflow-scroll();
					li {
						font-size: 1.2rem;
						display: inline-block;
						background: #f8f8f8;
						margin-right: 10px;
						vertical-align: top;
						width: 200px;
						height: 380px;
						margin-bottom: 10px;
						position: relative;
						overflow: hidden;
						@include border($size:2px, $color:#fff);
						&.select {
							border-color: $orange;
						}
						&.tag {
							div {
								&:nth-child(1) {
									img {
										&:nth-child(2) {
											opacity: 1;
										}
									}
								}
								&.itag {
									-webkit-transform: translate3d(0, 0, 0);
								}
							}
						}
						div {
							padding: 0 10px;
							&.iimg {
								position: relative;
								background: #fff;
								padding: 0;
								margin-bottom: 5px;
								@include width-height(200px);
								img {
									display: block;
									@include width-height(200px);
									&:nth-child(2) {
										opacity: 0;
										-webkit-transition: all ease-in-out 0.3s;
										@include position($left:0, $top:0, $index:1);
									}
								}
								@include icons($elem:after, $type:'\e61c', $color:#fff, $size:1.8rem);
								&:after {
									background: rgba(0,0,0,0.4);
									text-indent: 3px;
									@include border($size:2px, $color:#fff);
									@include box($align:center, $pack:center);
									@include width-height(40px);
									@include border-radius($radius:100%);
									@include position($right:10px, $bottom:10px, $index:2);
								}
								button {
									&:nth-child(3) {

									}
									&:nth-child(4) {
										color: rgba(255,255,255,0.8);
										font-size: 3.4rem;
										text-shadow: -1px 1px 2px 2px rgba(0,0,0,0.1);
										@include iconfont();
										@include position($right:10px, $top:5px, $index:3);
									}
								}
							}
							&.ititle {
								line-height: 20px;
								height: 40px;
								@include ellipsis($line:2);
							}
							&.iinfo {
								color: #999;
								line-height: 20px;
							}
							&.isize {
								line-height: 30px;
								@include box($align:center, $pack:justify);
							}
							&.ibtn {
								@include box($align:center, $pack:justify);
								button {
									line-height: 30px;
									display: block;
									&:nth-child(1) {
										background: $green;
										color: #fff;
										padding: 0 10px;
										@include border($color:#fff);
										@include border-radius($radius:3px);
									}
								}
							}
							&.itag {
								-webkit-transform: translate3d(0, 380px, 0);
								-webkit-transition: all ease-in-out 0.3s;
								@include position($left:0, $bottom:0, $width:100%, $height:100%, $index:2);
								&>div {
									background: rgba(255,255,255,0.8);
									padding: 10px;
									@include box-sizing();
									@include position($left:0, $bottom:0, $width:100%, $height:300px, $index:2);
									p {
										display: inline-block;
										background: $orange_hover;
										padding: 0 10px;
										line-height: 23px;
										color: #fff;
										margin-bottom: 5px;
										margin-right: 5px;
										@include border-radius($radius:23px);
									}
								}
							}
						}
					}
				}
				.mod_page {
					background: #fff;
					padding: 5px 10px;
					@include position($left:0, $bottom:0, $width:100%);
					p {
						input {
							height: 25px;
						}
					}
					ul {
						li {
							@include width-height-line(26px);
						}
					}
				}
			}
		}
	}

	.up_footer {
		padding: 10px;
		border-top: 1px solid $gray-border;
		@include box($align:center, $pack:justify);
		button {
			min-width: 60px;
			margin-left: 10px;
		}
		p {
			color: $gray;
			@include box-flex();
		}
	}
}