.mod_upload_img {
	background: $color_mask;
	-webkit-user-select: none;
	@include position($type:fixed, $left:0, $top:0, $index:12, $width:100%, $height:100%);
	@include ng-animate($type:ifop);
	// & > div {
	@include box($align:center, $pack:center);
	// @include position($left:0, $top:0, $index:1, $width:100%, $height:100%);
	& > div {
		background: $bg_gray_light;
		width: 700px;
		height: 500px;
		border-top: 2px solid $orange;
		@include border-radius($radius:4px);
		@include box($orient:vertical);
	}
	// }

	h3 {
		line-height: 40px;
		padding: 0 10px;
		background: #fff;
		color: $gray;
		font-size: 1.4rem;
		border-bottom: 1px solid $gray-border;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		@include box($align:center, $pack:justify);
		button {
			width: 50px;
			height: 40px;
			overflow: hidden;
			font-size: 0;
			text-align: right;
			@include icon($type:'\e906', $color:$gray);
			&:hover,
			&:active {
				&:before {
					color: $orange;
				}
			}
		}
	}

	.up_container {
		background: #fff;
		border-bottom: 1px solid $gray-border;
		-webkit-box-flex: 1;
		@include box();
		.up_menu {
			width: 180px;
			border-right: 1px solid $gray-border;
			@include box-sizing();
			ul {
				padding: 10px 0;
				li {
					line-height: 30px;
					padding: 0 10px;
					cursor: pointer;
					em {
						padding-left: 5px;
						color: $gray-light;
					}
				}
			}
		}
		.up_content {
			position: relative;
			@include box-sizing();
			@include box-flex();
			@include box($orient:vertical);
			h4 {
				border-bottom: 1px solid $gray-border;
				padding: 10px;
				@include box($align:center, $pack:justify);
			}
			.up_img {
				position: relative;
				-webkit-box-flex: 1;
				.up_list {
					padding: 10px 0 40px 10px;
					font-size: 0;
					@include overflow-scroll();
					li {
						width: 100px;
						text-align: center;
						line-height: 20px;
						display: inline-block;
						margin-right: 10px;
						margin-bottom: 10px;
						font-size: 1.2rem;
						vertical-align: top;
						&.select {
							position: relative;
							img {
								@include border($color:$orange);
							}
							@include icon($type:'\e91d', $color:#fff, $size:1.2rem);
							&:before {
								background: $orange;
								@include position($left:0, $top:0, $width:20px, $height:20px);
							}
						}
						&>div,
						img {
							display: block;
							@include border($color:#eee);
							@include box-sizing();
							@include width-height(100px);
						}
						&>div {
							@include box($align:center);
							div {
								background: #eee;
								height: 10px;
								margin: 0 5px;
								position: relative;
								overflow: hidden;
								@include box-flex();
								@include border-radius($radius:5px);
								span {
									background: $orange;
									display: block;
									// @include border-radius($radius:6px);
									@include position($left:0, $top:0, $height:100%);
								}
							}
						}
						p {
							@include ellipsis();
						}
					}
				}
				.mod_page {
					background: #fff;
					padding: 5px 10px;
					@include position($left:0, $bottom:0, $width:100%);
					p {
						input {
							height: 25px;
						}
					}
					ul {
						li {
							@include width-height-line(26px);
						}
					}
				}
			}
		}
	}

	.up_footer {
		padding: 10px;
		@include box($pack:justify);
		button {
			width: 60px;
		}
	}
}

.mod_crop_image {
	&.mask {
		background: $color_mask;
	}
	@include ng-animate($type:ifop);
	@include box($align:center, $pack:center);
	@include position($type:fixed, $index:30, $width:100%, $height:100%, $left:0, $top:0);
	&>div {
		width: 800px;
		background: #fff;
		border-top: 2px solid $orange;
		@include border-radius($radius:4px);
		// @include position($left:50%, $top:50%, $ml:-400px, $mt:-300px, $index:1);
	}
	h2 {
		line-height: 40px;
		text-indent: 10px;
		font-weight: bolder;
		border-bottom: 1px solid $gray-border;
		@include box($align:center, $pack:justify);
		button {
			width: 50px;
			height: 40px;
			overflow: hidden;
			font-size: 0;
			text-align: right;
			@include icon($type:'\e906', $color:$gray);
			&:hover,
			&:active {
				&:before {
					color: $orange;
				}
			}
		}
		em {
			color: #888;
		}
	}
	.crop_contain {
		padding: 20px;
		border-bottom: 1px solid $gray-border;
		@include box();
		.crop_img {
			@include box-flex();
			.crop_up,
			.crop_image {
				@include width-height(400px);
				// overflow: hidden;
			}
			.crop_up {
				background: #eee;
				@include box($align:center, $pack:center, $orient:vertical);
				p {
					line-height: 30px;
				}
			}
			.crop_image {
				background: #333;
				margin-bottom: 10px;
				position: relative;
				@include box($align:center, $pack:center);
				img {
					// width: 100%;
					visibility: hidden;
				}
				p {
					text-align: center;
					line-height: 30px;
					color: #fff;
					@include position($left:0, $top:50%, $width:100%);
				}
			}
			.crop_reset {
				// display: none;
			}
		}
		.crop_view {
			background: $bg-gray-light;
			width: 340px;
			padding: 0 20px;
			position: relative;
			@include box-sizing();
			h3 {
				text-align: center;
				line-height: 40px;
				color: #000;
				span {
					color: $orange;
				}
			}
			&>div {
				overflow: hidden;
				position: relative;
				@include width-height(300px);
				img {
					visibility: hidden;
				}
			}
		}
	}
	.crop_footer {
		background: #eee;
		padding: 10px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		@include box($align:center, $pack:center);
		button {
			margin: 0 10px;
			width: 70px;
		}
	}
}