.appue_mod_view_html5 {
	background: #eee;
	@include position($type:fixed, $left:0, $top:0, $height:100%, $width:100%, $index:15);
	@include box-sizing();
	@include ng-animate($type:ifx, $left:100%, $time:1s);
	&.layer1 { z-index:16; }
	&.layer2 { z-index:17; }
	&.layer3 { z-index:18; }
	&.layer4 { z-index:19; }
	&.layer5 { z-index:20; }
	&.layer6 { z-index:21; }
	@include box();
	.this_left {
		background: #fff;
		width: 60px;
		div {
			text-align: center;
			padding: 10px 0;
			color: #666;
			cursor: pointer;
			p {
				margin-bottom: 5px;
				font-size: 1.8rem;
				@include iconfont();
			}
			&:hover {
				background: #54c200;
				background: $orange_hover;
				color: #fff;
			}
		}
	}
	.this_right {
		padding: 20px;
		@include box-flex();
		@include box();
		.aiframe {
			background: #fff;
			width: 400px;
			position: relative;
			iframe {
				border: none;
				@include width-height(100%);
				@include position($left:0, $top:0, $index:2);
			}
		}
	}
}