@font-face {
    font-family: 'Ajmide';
    src: url('#{$path-fonts}Ajmide.eot?fdtrgi');
    src: url('#{$path-fonts}Ajmide.eot?fdtrgi#iefix') format('embedded-opentype'),
        url('#{$path-fonts}Ajmide.ttf?fdtrgi') format('truetype'),
        url('#{$path-fonts}Ajmide.woff?fdtrgi') format('woff'),
        url('#{$path-fonts}Ajmide.svg?fdtrgi#Ajmide') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iconfont';
    src: url('#{$path-fonts}iconfont.eot?6');
    src: url('#{$path-fonts}iconfont.eot?6#iefix') format('embedded-opentype'),
        url('#{$path-fonts}iconfont.ttf?6') format('truetype'),
        url('#{$path-fonts}iconfont.woff?6') format('woff'),
        url('#{$path-fonts}iconfont.svg?6#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "sass/mixin",
    
    "sass/component/_line-scale-party",
    "sass/component/_ball-scale-ripple-multiple",
    "sass/component/_ball-scale-multiple",
    
    "sass/component/_reset",
    "sass/component/_widget",
    "sass/component/_fire",
    "sass/component/_icon",
    "sass/component/_button",
    "sass/component/_tag",
    "sass/component/_input",
    "sass/component/_upload_image",
    "sass/component/_upload_audio",
    "sass/component/_header",
    "sass/component/_tab",
    "sass/component/_menu",
    "sass/component/_main",
    "sass/component/_login",
    "sass/component/_title",
    "sass/component/_player",

    "sass/component/_jcrop",
    "sass/component/_viewer",

    "sass/component/_calendar",
    "sass/component/_form",
    "sass/component/_showpage",
    "sass/component/_calendar",
    "sass/component/_view_iphone",
    "sass/component/_view_html5",
    "sass/component/_wireless";

