.mod_top {
	padding-top: $header_height;
}
.mod_header {
	background: #fff;
	@include position($type:fixed, $top:0, $left:0, $width:100%, $height:$header_height, $index:1000);
	.this_box {
		max-width: $max_width;
		margin: 0 auto;
	}
}