.mod_h1 {
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 20px;
    span {
        font-size: 12px;
    }
}
.mod_h2 {
    font-size: 16px;
    line-height: 40px;
}
.mod_h3 {
    position: relative;
    height: 30px;
    &:before {
        content: '';
        display: block;
        background: #898989;
        @include position($left:0, $top:50%, $mt:-1px, $width:100%, $height:2px, $index:1);
    }
    p {
        border-left: 2px solid #8296c9;
        background: #fff;
        padding: 0 10px;
        line-height: 20px;
        @include position($left:0, $top:50%, $height:20px, $mt:-10px, $index:2);
    }
}

.mod_width {
    width: 1200px;
}

.ct_news {
    margin: 0 auto;
    padding: 20px 0;

    .anews {
        display: table;
        color: #646464;
        .bleft,
        .bmid,
        .bright {
            display: table-cell;
            vertical-align: top;
            h3 {
                color: #1e2655;
                font-size: 14px;
                line-height: 25px;
                margin-bottom: 10px;
            }
        }
        .bleft {
            $w: 250px;
            width: $w;
            .c1 {
                line-height: 25px;
                
                span {
                    color: #7187c1;
                }
            }
            .c2 {
                width: $w;
                height: 130px;
                margin-bottom: 5px;
                overflow: hidden;
                img {
                    width: $w;
                    height: 130px;
                    display: block;
                }
            }
            .c3 {
                line-height: 16px;
                color: #646464;
            }
            .c4 {
                text-align: right;
                color: #667ebd;
            }
        }
        .bmid {
            // width: 500px;
            .c1 {
                display: table;
                width: 100%;
                margin-bottom: 20px;
                .d1,
                .d2 {
                    display: table-cell;
                }
                .d1 {
                    width: 300px;
                    img {
                        width: 300px;
                        display: block;
                    }
                }
                .d2 {
                    vertical-align: top;
                    padding-left: 10px;
                    .e1 {
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                    .e2 {
                        line-height: 16px;
                    }
                    .e3 {
                        color: #667ebd;
                        text-align: right;
                    }
                }
            }
            .c2 {
                display: table;
                div {
                    display: table-cell;
                }
                .dd {
                    // width: 25%;
                    img {
                        width: 100%;
                    }
                }
                .dm {
                    width: 10px;
                }
            }
        }
        .bright {
            width: 400px;
            ul {
                width: 400px;
                overflow-y: scroll;
                max-height: 310px;
                li {
                    border-bottom: 1px solid #ccc;
                    line-height: 16px;
                    padding: 10px 0;
                    display: block;
                    a {
                        color: #333;
                        display: block;
                        @include ellipsis();
                    }
                }
            }
        }
        .bm {
            width: 20px;
        }
    }
}

.ct_service {
    margin: 0 auto;
    // padding: 0 20px;
    margin-bottom: 20px;
    display: table;
    .aleft,
    .amid,
    .aright {
        font-size: 12px;
        vertical-align: top;
        display: table-cell;
        h3 {
            background: #e2e2e2;
            line-height: 30px;
            text-indent: 10px;
        }
    }
    .aleft {
        width: 20%;
        padding-right: 10px;
        div {
            padding-top: 20px;
            padding-left: 20px;
            font-size: 14px;
            color: #0a5985;
            line-height: 25px;
        }
        p {
            line-height: 20px;
            padding-left: 20px;
        }
    }
    .amid {
        padding: 0 10px;
    }
    .aright {
        padding-left: 10px;
    }
    .amid,
    .aright {
        font-size: 0;
        h3 {
            margin-bottom: 10px;
        }
        div {
            display: inline-block;
            width: 50%;
            overflow: hidden;
            font-size: 12px;
            line-height: 20px;
            img {
                display: block;
            }
        }
    }
    .ab {
        width: 1px;
        font-size: 0;
        background: #bbb;
        display: table-cell;
    }
}


.ct_case {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 0;
    display: table;
    .aleft,
    .aright {
        display: table-cell;
        vertical-align: top;
        font-size: 12px;
    }
    .aleft {
        width: 200px;
        padding-right: 20px;
        .h1 {
            background: #8296c9;
            padding: 40px 20px;
            margin-bottom: 10px;
            h2 {
                color: #fff;
                font-size: 20px;
                line-height: 40px;
            }
            p {
                font-size: 16px;
                color: #9be8ff;
                line-height: 25px;
            }
        }
        .li {
            line-height: 40px;
            font-size: 14px;
            border-bottom: 1px solid #ccc;
            text-indent: 10px;
            &.current {
                background: #eee;
            }
        }
    }

    .aright {
        .alist {
            li {
                display: table;
                padding: 20px 0;
                border-bottom: 1px solid #ccc;
                .bl,
                .br {
                    display: table-cell;
                    vertical-align: top;
                }
                .bm { width: 20px; }
                .bl {
                    width: 400px;
                    img {
                        display: block;
                        width: 400px;
                    }
                }
                .br {
                    .c1 {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                    .c2 {
                        margin-bottom: 10px;
                        line-height: 20px;
                        color: #999;
                    }
                    .c3 {
                        position: relative;
                        height: 100px;
                        img {
                            width: 200px;
                            height: 100px;
                            display: block;
                        }
                        a {
                            color: #667ebd;
                            display: block;
                            @include position($bottom:0);
                        }
                    }
                }
                &.lileft {
                    .br {
                        .c3 {
                            a {
                                right: 0;
                            }
                        }
                    }
                }
                &.liright {
                    .br {
                        .c3 {
                            img {
                                float: right;
                            }
                            a {
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}