@mixin button (
	$color: null,
	$bg: null,
	$border: null,
	$margin: 0,
	$line: 30px,
	$padding: 0 10px,
	$display: block,
	$size: 1.2rem,
	$radius: 4px,
	$hover: null,
	$shadow: null
) {
	line-height: $line;
	padding: $padding;

	@if $border != null {
		border: 1px solid $border;
	}
	
	display: $display;
	margin: $margin;
	font-size: $size;
	cursor: pointer;

	@if $color != null {
		color: $color;
	}

    @if $bg != null {
        background: $bg;
    }

	@include border-radius($radius:$radius);
	// @include bottom-shadow();
	@include box-sizing();

	@if $hover != null {
		&:hover {
			background: $hover;
		}
	}

	@if $shadow != null {
		@include bottom-shadow();
	}
}