$bg_gray_light: #f8f8f8;

$orange: #fc7a36;
// $orange_hover: #ef6f35;
$orange_hover: #ffa800;
$orange_light: #fff2eb;

$green: #52bf7c;
$green_hover: #4eaf71;

$gray: #777;
$gray_light: #bbb;
$gray_border: #eaeaea;

$blue_light: #eef9ff;
// $blue: #157eff;
$blue: #00c1de;

$black: #333;

$red: #f65854;

$yellow: #ffe684;

$gold: #775207;

$color_mask: rgba(0,0,0,0.4);
$color_input: #eaeaea;

/**
 * 帖子类型颜色
 * top: 固定贴
 * hot: 热点贴
 * live: 直播贴
 * news: 头条贴
 * boon: 福利贴
 */
$top: #3eb4fe;
$hot: #fea02e;
$news: #fea02e;
$live: #52bf7c;
$boon: #ca419c;