@mixin box-sizing ($type:border-box) {
    -webkit-box-sizing: $type;
            box-sizing: $type;
}


@mixin border-radius ($type:null, $radius:5px) {
    @if $type == null {
        -webkit-border-radius: $radius;
                border-radius: $radius;
    }
    
    @if $type == left {
        -webkit-border-radius: $radius 0 0 $radius;
                border-radius: $radius 0 0 $radius;
    }

    @if $type == right {
        -webkit-border-radius: 0 $radius $radius 0;
                border-radius: 0 $radius $radius 0;
    }

    @if $type == lbrt {
        -webkit-border-radius: 0 $radius 0 $radius;
                border-radius: 0 $radius 0 $radius;
    }

    @if $type == lbrb {
        -webkit-border-radius: 0 0 $radius $radius;
                border-radius: 0 0 $radius $radius;
    }

    @if $type == ltrt {
        -webkit-border-radius: $radius $radius 0 0;
                border-radius: $radius $radius 0 0;
    }

    @if $type == ltrb {
        -webkit-border-radius: $radius 0 $radius 0;
                border-radius: $radius 0 $radius 0;
    }
}

@mixin position (
    $width: null,
    $height: null,

    $top: null,
    $right: null,
    $bottom: null,
    $left: null,

    $index: null,

    $type: absolute,

    $mt: null,
    $mr: null,
    $mb: null,
    $ml: null
) {
    position: $type;

    @if $width != null {
        width: $width;
    }

    @if $height != null {
        height: $height;
    }

    @if $top != null {
        top: $top;
    }

    @if $right != null {
        right: $right;
    }

    @if $bottom != null {
        bottom: $bottom;
    }

    @if $left != null {
        left: $left;
    }

    @if $index != null {
        z-index: $index;
    }

    @if $mt != null {
        margin-top: $mt;
    }

    @if $mr != null {
        margin-right: $mr;
    }

    @if $mb != null {
        margin-bottom: $mb;
    }

    @if $ml != null {
        margin-left: $ml;
    }
}

/**
 * 文字超出显示...
 * @params:
 * $line: 行数
 */
@mixin ellipsis ($line:1) {
	@if $line > 1 {
    	display: -webkit-box;
    	-webkit-line-clamp: $line;
    	-webkit-box-orient: vertical;
    	overflow: hidden;
	} @else {
    	text-overflow: ellipsis;
    	white-space: nowrap;
    	overflow: hidden;
	}
}

@mixin width-height ($wh) {
    width: $wh;
    height: $wh;
}
@mixin width-height-line ($wh) {
    width: $wh;
    height: $wh;
    line-height: $wh;
}